@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/***
    The new CSS reset - version 1.5.1 (last updated 1.3.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #101828;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: "Inter", sans-serif;
}

.wd-display {
  color: #101828;
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 400;
}

.wd-display-xs {
  font-size: 1.5rem;
  line-height: 2rem;
}

.wd-display-sm {
  font-size: 1.875rem;
  line-height: 2.375rem;
}

.wd-display-md {
  font-size: 2.25rem;
  line-height: 2.75rem;
}

.wd-display-lg {
  font-size: 3rem;
  line-height: 3.75rem;
}

.wd-display-xl {
  font-size: 3.75rem;
  line-height: 4.5rem;
}

.wd-display-2xl {
  font-size: 4.5rem;
  line-height: 5.625rem;
}

.wd-text {
  color: #101828;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.wd-text-xs {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.wd-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.wd-text-md {
  font-size: 1rem;
  line-height: 1.5rem;
}

.wd-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.wd-text-xl {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.m-1 {
  margin: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.p-1 {
  margin: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.p-2 {
  margin: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.p-3 {
  margin: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.p-4 {
  margin: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.p-5 {
  margin: 1.25rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.p-6 {
  margin: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.m-8 {
  margin: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.p-8 {
  margin: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

.m-10 {
  margin: 2.5rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mr-10 {
  margin-right: 2.5rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.p-10 {
  margin: 2.5rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.m-12 {
  margin: 3rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mr-12 {
  margin-right: 3rem;
}

.ml-12 {
  margin-left: 3rem;
}

.p-12 {
  margin: 3rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pr-12 {
  padding-right: 3rem;
}

.pl-12 {
  padding-left: 3rem;
}

.m-16 {
  margin: 4rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mr-16 {
  margin-right: 4rem;
}

.ml-16 {
  margin-left: 4rem;
}

.p-16 {
  margin: 4rem;
}

.pt-16 {
  padding-top: 4rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.pr-16 {
  padding-right: 4rem;
}

.pl-16 {
  padding-left: 4rem;
}

.m-20 {
  margin: 5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mr-20 {
  margin-right: 5rem;
}

.ml-20 {
  margin-left: 5rem;
}

.p-20 {
  margin: 5rem;
}

.pt-20 {
  padding-top: 5rem;
}

.pb-20 {
  padding-bottom: 5rem;
}

.pr-20 {
  padding-right: 5rem;
}

.pl-20 {
  padding-left: 5rem;
}

.m-24 {
  margin: 6rem;
}

.mt-24 {
  margin-top: 6rem;
}

.mb-24 {
  margin-bottom: 6rem;
}

.mr-24 {
  margin-right: 6rem;
}

.ml-24 {
  margin-left: 6rem;
}

.p-24 {
  margin: 6rem;
}

.pt-24 {
  padding-top: 6rem;
}

.pb-24 {
  padding-bottom: 6rem;
}

.pr-24 {
  padding-right: 6rem;
}

.pl-24 {
  padding-left: 6rem;
}

.m-32 {
  margin: 8rem;
}

.mt-32 {
  margin-top: 8rem;
}

.mb-32 {
  margin-bottom: 8rem;
}

.mr-32 {
  margin-right: 8rem;
}

.ml-32 {
  margin-left: 8rem;
}

.p-32 {
  margin: 8rem;
}

.pt-32 {
  padding-top: 8rem;
}

.pb-32 {
  padding-bottom: 8rem;
}

.pr-32 {
  padding-right: 8rem;
}

.pl-32 {
  padding-left: 8rem;
}

.m-40 {
  margin: 10rem;
}

.mt-40 {
  margin-top: 10rem;
}

.mb-40 {
  margin-bottom: 10rem;
}

.mr-40 {
  margin-right: 10rem;
}

.ml-40 {
  margin-left: 10rem;
}

.p-40 {
  margin: 10rem;
}

.pt-40 {
  padding-top: 10rem;
}

.pb-40 {
  padding-bottom: 10rem;
}

.pr-40 {
  padding-right: 10rem;
}

.pl-40 {
  padding-left: 10rem;
}

.m-48 {
  margin: 12rem;
}

.mt-48 {
  margin-top: 12rem;
}

.mb-48 {
  margin-bottom: 12rem;
}

.mr-48 {
  margin-right: 12rem;
}

.ml-48 {
  margin-left: 12rem;
}

.p-48 {
  margin: 12rem;
}

.pt-48 {
  padding-top: 12rem;
}

.pb-48 {
  padding-bottom: 12rem;
}

.pr-48 {
  padding-right: 12rem;
}

.pl-48 {
  padding-left: 12rem;
}

.m-56 {
  margin: 14rem;
}

.mt-56 {
  margin-top: 14rem;
}

.mb-56 {
  margin-bottom: 14rem;
}

.mr-56 {
  margin-right: 14rem;
}

.ml-56 {
  margin-left: 14rem;
}

.p-56 {
  margin: 14rem;
}

.pt-56 {
  padding-top: 14rem;
}

.pb-56 {
  padding-bottom: 14rem;
}

.pr-56 {
  padding-right: 14rem;
}

.pl-56 {
  padding-left: 14rem;
}

.m-64 {
  margin: 16rem;
}

.mt-64 {
  margin-top: 16rem;
}

.mb-64 {
  margin-bottom: 16rem;
}

.mr-64 {
  margin-right: 16rem;
}

.ml-64 {
  margin-left: 16rem;
}

.p-64 {
  margin: 16rem;
}

.pt-64 {
  padding-top: 16rem;
}

.pb-64 {
  padding-bottom: 16rem;
}

.pr-64 {
  padding-right: 16rem;
}

.pl-64 {
  padding-left: 16rem;
}

.wd-row {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(12, 1fr);
}

.wd-row > * {
  grid-column-end: span 12;
}

@media (min-width: 768px) {
  .wd-row {
    gap: 32px;
  }
}

.wd-auto-row {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

@media (min-width: 768px) {
  .wd-auto-row {
    gap: 32px;
  }
}

.wd-auto-row-xs {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}

@media (min-width: 768px) {
  .wd-auto-row-xs {
    gap: 32px;
  }
}

.wd-auto-row-sm {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

@media (min-width: 768px) {
  .wd-auto-row-sm {
    gap: 32px;
  }
}

.wd-auto-row-md {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

@media (min-width: 768px) {
  .wd-auto-row-md {
    gap: 32px;
  }
}

.wd-auto-row-lg {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

@media (min-width: 768px) {
  .wd-auto-row-lg {
    gap: 32px;
  }
}

.wd-auto-row-xl {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

@media (min-width: 768px) {
  .wd-auto-row-xl {
    gap: 32px;
  }
}

@media (min-width: 0) {
  .wd-col-1-mobile {
    grid-column-end: span 1;
  }
  .wd-col-2-mobile {
    grid-column-end: span 2;
  }
  .wd-col-3-mobile {
    grid-column-end: span 3;
  }
  .wd-col-4-mobile {
    grid-column-end: span 4;
  }
  .wd-col-5-mobile {
    grid-column-end: span 5;
  }
  .wd-col-6-mobile {
    grid-column-end: span 6;
  }
  .wd-col-7-mobile {
    grid-column-end: span 7;
  }
  .wd-col-8-mobile {
    grid-column-end: span 8;
  }
  .wd-col-9-mobile {
    grid-column-end: span 9;
  }
  .wd-col-10-mobile {
    grid-column-end: span 10;
  }
  .wd-col-11-mobile {
    grid-column-end: span 11;
  }
  .wd-col-12-mobile {
    grid-column-end: span 12;
  }
}

@media (min-width: 768px) {
  .wd-col-1-tablet {
    grid-column-end: span 1;
  }
  .wd-col-2-tablet {
    grid-column-end: span 2;
  }
  .wd-col-3-tablet {
    grid-column-end: span 3;
  }
  .wd-col-4-tablet {
    grid-column-end: span 4;
  }
  .wd-col-5-tablet {
    grid-column-end: span 5;
  }
  .wd-col-6-tablet {
    grid-column-end: span 6;
  }
  .wd-col-7-tablet {
    grid-column-end: span 7;
  }
  .wd-col-8-tablet {
    grid-column-end: span 8;
  }
  .wd-col-9-tablet {
    grid-column-end: span 9;
  }
  .wd-col-10-tablet {
    grid-column-end: span 10;
  }
  .wd-col-11-tablet {
    grid-column-end: span 11;
  }
  .wd-col-12-tablet {
    grid-column-end: span 12;
  }
}

@media (min-width: 992px) {
  .wd-col-1-desktop {
    grid-column-end: span 1;
  }
  .wd-col-2-desktop {
    grid-column-end: span 2;
  }
  .wd-col-3-desktop {
    grid-column-end: span 3;
  }
  .wd-col-4-desktop {
    grid-column-end: span 4;
  }
  .wd-col-5-desktop {
    grid-column-end: span 5;
  }
  .wd-col-6-desktop {
    grid-column-end: span 6;
  }
  .wd-col-7-desktop {
    grid-column-end: span 7;
  }
  .wd-col-8-desktop {
    grid-column-end: span 8;
  }
  .wd-col-9-desktop {
    grid-column-end: span 9;
  }
  .wd-col-10-desktop {
    grid-column-end: span 10;
  }
  .wd-col-11-desktop {
    grid-column-end: span 11;
  }
  .wd-col-12-desktop {
    grid-column-end: span 12;
  }
}

@media (min-width: 1200px) {
  .wd-col-1-desktop-lg {
    grid-column-end: span 1;
  }
  .wd-col-2-desktop-lg {
    grid-column-end: span 2;
  }
  .wd-col-3-desktop-lg {
    grid-column-end: span 3;
  }
  .wd-col-4-desktop-lg {
    grid-column-end: span 4;
  }
  .wd-col-5-desktop-lg {
    grid-column-end: span 5;
  }
  .wd-col-6-desktop-lg {
    grid-column-end: span 6;
  }
  .wd-col-7-desktop-lg {
    grid-column-end: span 7;
  }
  .wd-col-8-desktop-lg {
    grid-column-end: span 8;
  }
  .wd-col-9-desktop-lg {
    grid-column-end: span 9;
  }
  .wd-col-10-desktop-lg {
    grid-column-end: span 10;
  }
  .wd-col-11-desktop-lg {
    grid-column-end: span 11;
  }
  .wd-col-12-desktop-lg {
    grid-column-end: span 12;
  }
}

.wd-container {
  margin: 0 auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  max-width: none !important;
}

@media (min-width: 768px) {
  .wd-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.wd-container-sm {
  margin: 0 auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 576px;
}

@media (min-width: 768px) {
  .wd-container-sm {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.wd-container-md {
  margin: 0 auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 704px;
}

@media (min-width: 768px) {
  .wd-container-md {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.wd-container-lg {
  margin: 0 auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 960px;
}

@media (min-width: 768px) {
  .wd-container-lg {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.wd-container-xl {
  margin: 0 auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1216px;
}

@media (min-width: 768px) {
  .wd-container-xl {
    padding-left: 32px;
    padding-right: 32px;
  }
}

/*# sourceMappingURL=wada.css.map */