// ============================================================
// Components » Container
// ============================================================

$container-offset: (2 * $gap) !default;
$container-offset-mobile: (2 * $gap-mobile) !default;

@mixin container-style {
  margin: 0 auto;
  width: 100%;
  padding-left: $gap-mobile;
  padding-right: $gap-mobile;

  @media (min-width: $screen-tablet) {
    padding-left: $gap;
    padding-right: $gap;
  }
}

.#{$prefix}-container {
  @include container-style;
  max-width: none !important;
}

.#{$prefix}-container-sm {
  @include container-style;
  max-width: $container-sm - $container-offset-mobile;
}

.#{$prefix}-container-md {
  @include container-style;
  max-width: $container-md - $container-offset;
}

.#{$prefix}-container-lg {
  @include container-style;
  max-width: $container-lg - $container-offset;
}

.#{$prefix}-container-xl {
  @include container-style;
  max-width: $container-xl - $container-offset;
}
